.navbar-sticky {
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.5s ease-in-out;
}
@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}

@keyframes rotate {
  0% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0rem);
  }
}
.nav-icon {
    color: black;
}
.nav-icon:hover {
    cursor: pointer;
}
.line {
    position: absolute;
    height: 10px;
    width: 100%;
}
.logo {
    max-width: 70%;
    max-height: 3rem;
}
.nav {
    margin-top: 10px;
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: center;
    justify-items: center;
}
.nav > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
.nav > a:hover, .account:hover {
    border-bottom: solid black 1px;
    box-shadow: 0rem 0.05rem 0.25rem black;
}
.header {
    position: relative;
    top: 0;
    display: grid;
    grid-template-areas: "logo nav";
}
.toggleDiv {
    display: none;
}
.account {
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) {
    .header {
        grid-template-areas: "logo toggleDiv" "nav nav";
    }
    .nav {
        grid-template-rows: repeat(4, auto);
        grid-template-columns: none;
        grid-row-gap: 20px;
    }
    .toggleDiv {
        position: absolute!important;
        height: 100%;
        right: 0px;
        top: 0;
        grid-area: toggleDiv;
        display: block;
    }
    .account {
        display: none;
    }
}